In [17]:
import pandas as pd
import re

In [18]:
df=pd.read_csv("Data.csv")
df.head()

                                                 0    1    2    3
0   [00:00] hello everyone welcome back so in this  NaN  NaN  NaN
1  [00:03] project we're going to build AI powered  NaN  NaN  NaN
2   [00:05] water tracking app using fast API Lang  NaN  NaN  NaN
3   [00:08] chain and streamlet so the goal was to  NaN  NaN  NaN
4       [00:11] help users track their daily water  NaN  NaN  NaN

In [19]:
def extract_time(text):
    if pd.isna(text):
        return None
    return text[1:6] if text else None

# Create empty lists to store timestamps
start_times = []
stop_times = []

# Iterate through each row
for i in range(len(df)):
    current_time = extract_time(df.iloc[i][0])
    next_time = extract_time(df.iloc[i+1][0]) if i < len(df)-1 else None
    
    start_times.append(current_time)
    stop_times.append(next_time)

# Add the columns to the dataframe
df['start'] = start_times
df['stop'] = stop_times

# Display the result
df[['start', 'stop']].head()

/var/folders/jz/6137rwlx3fx2sh9p91zxs5g40000gn/T/ipykernel_49395/547450438.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  current_time = extract_time(df.iloc[i][0])
/var/folders/jz/6137rwlx3fx2sh9p91zxs5g40000gn/T/ipykernel_49395/547450438.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  next_time = extract_time(df.iloc[i+1][0]) if i < len(df)-1 else None

   start   stop
0  00:00  00:03
1  00:03  00:05
2  00:05  00:08
3  00:08  00:11
4  00:11  00:13

In [20]:
df.head()

,0,1,2,3,start,stop
0,[00:00] hello everyone welcome back so in this,NaN,NaN,NaN,00:00,00:03
1,[00:03] project we're going to build AI powered,NaN,NaN,NaN,00:03,00:05
2,[00:05] water tracking app using fast API Lang,NaN,NaN,NaN,00:05,00:08
3,[00:08] chain and streamlet so the goal was to,NaN,NaN,NaN,00:08,00:11
4,[00:11] help users track their daily water,NaN,NaN,NaN,00:11,00:13

In [21]:
#  Remove columns 1, 2, and 3
df = df.drop(columns=['1', '2', '3'])

# Remove first 6 characters (timestamp) from column 0
df['0'] = df['0'].str[7:]

# Display the result
df.head()

                                          0  start   stop
0    hello everyone welcome back so in this  00:00  00:03
1   project we're going to build AI powered  00:03  00:05
2    water tracking app using fast API Lang  00:05  00:08
3    chain and streamlet so the goal was to  00:08  00:11
4        help users track their daily water  00:11  00:13